.all-products{
    margin: 2rem 0;
}
.all-products h1{
    text-align: center;
    font-size: 6.4rem;
    font-weight: 700;
    color:#07484A ;
}
.all-products .productss{
    display: flex;
    margin-top: 5rem;
}
.all-products .productss .left-productss{
    flex-basis: 20%;
}
.all-products .productss .left-productss .left-product-names{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: #E0F6F1;
    border-radius: 1rem;
}
.all-products .productss .left-productss p{
    font-size: 2.5rem;
    color: #07484A;
    font-weight: 300;
    padding: 1rem;
    border: 1px solid #07484a57;
    cursor: pointer;
    border-radius: 1rem;
}
.klik{
    background-color: #fff;
    color: #07484A;
    font-weight: 700 !important;
    border: 3px solid #07484A !important;
}
.all-products .productss .right-productss{
    flex: 1;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
@media(max-width:768px){
    .all-products h1{
        font-size: 3rem;
    }
    .all-products .productss .left-productss p{
        font-size: 1.6rem;
    }
}
@media(max-width:535px){
    .all-products h1{
        font-size: 2.5rem;;
    }
    .all-products .productss .left-productss{
        position: fixed;
        bottom: 0;
        flex: 1 !important;
        max-width: 100% !important;
        width: 100%;
        z-index: 99;
        border-radius: 0;

    }
    .all-products .productss .left-productss .left-product-names{
        max-width: 90%;
        width: 100%;
        display: flex;
        flex-direction:row !important ;
        min-width: 90%;
        overflow-x: scroll;
        border-radius: 0;
    }
    .all-products .productss .left-productss .left-product-names::-webkit-scrollbar{
        display: none;
    }
    .all-products .productss .left-productss p{
        font-size: 1.3rem;
        max-width: fit-content;
    }
}