.category {
    max-width: 1240px;
    margin: 5rem auto;
  }
  
  .category h1 {
    font-size: 6.4rem;
    font-weight: 700;
    color: #07484A;
    text-align: center;
    margin-bottom: 5rem;
  }
  
  .category .category-boxes {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
  
  .category .category-boxes .input-side {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 50%;
  }
  
  .category .category-boxes .rooms {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    max-height: 25rem;
    overflow-y: auto;
  }
  
  .category .category-boxes .rooms::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  .category .category-boxes .rooms::-webkit-scrollbar-thumb {
    background-color: #07484A;
    border-radius: 1rem;
  }
  
  .category .category-boxes .rooms p {
    font-size: 1.6rem;
    font-weight: 300;
    color: #07484A;
  }
  
  .category .category-boxes .input-side .search-input {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    align-items: center;
    background-color: #c1c1c1;
    color: #fff;
  }
  
  .category .category-boxes .input-side .search-input input {
    border: none;
    outline: none;
    font-size: 2rem;
    background-color: inherit;
    color: #fff;
  }
  
  .category .category-boxes .input-side .search-input input::placeholder {
    color: #fff;
  }
  
  .category .category-boxes .input-side .search-input i {
    font-size: 2rem;
    color: #fff;
  }
  
  .category .category-boxes .room-boxes {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .category .category-boxes .room-boxes .room-box {
    flex: 0 0 100%;
    max-width: 40rem;
    height: 20rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 1rem #aaa;
    overflow: hidden;
  }
  
  .category .category-boxes .room-boxes .room-box img {
    width: 100%;
    height: 100%;
  }
  
  /* Mobile Styles */
  @media screen and (max-width: 768px) {

  }
  
  /* Tablet Styles */
  @media(max-width: 1230px) {
    .category .category-boxes {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4rem;
    }
    
  }
  