.subscribe{
    margin: 7rem 0;
}
.subscribe .subscribe-boxes{
    display: flex;
}
.subscribe .subscribe-boxes .left-subscribe{
    flex-basis: 50%;
}
.subscribe .subscribe-boxes .left-subscribe img{
    width: 100%;
}
.subscribe .subscribe-boxes .right-subscribe{
    flex: 1;
}
.subscribe .subscribe-boxes .right-subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    gap: 2rem;
    background-color: #E0F6F1;
}
.subscribe .subscribe-boxes .right-subscribe form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.subscribe .subscribe-boxes .right-subscribe form input{
    max-width: 20rem;
    font-size: 2rem;
    background-color: inherit;
    padding: 1rem 0;
    border: none;
    outline: none;
}
.subscribe .subscribe-boxes .right-subscribe h1{
    font-size: 6.4rem;
    color: #07484A;
    font-weight: 700;
}
.subscribe .subscribe-boxes .right-subscribe p{
    color: #07484A;
    font-size: 1.6rem;
}
.subscribe .subscribe-boxes .right-subscribe h1 span{
    font-weight: 300;
}

@media (max-width: 768px) {
    .subscribe {
      margin: 3rem 0;
    }
  
    .subscribe .subscribe-boxes {
      flex-direction: column;
    }
  
    .subscribe .subscribe-boxes .left-subscribe,
    .subscribe .subscribe-boxes .right-subscribe {
      flex-basis: 100%;
    }
  
    .subscribe .subscribe-boxes .right-subscribe {
      padding: 2rem 0;
    }
  
    .subscribe .subscribe-boxes .right-subscribe h1 {
      font-size: 4.8rem;
    }
  
    .subscribe .subscribe-boxes .right-subscribe p {
      font-size: 1.4rem;
    }
  }
  
  /* Tablet styles */
  @media(max-width: 1124px) {
    .subscribe .subscribe-boxes {
      flex-wrap: wrap;
    }
  
    .subscribe .subscribe-boxes .left-subscribe,
    .subscribe .subscribe-boxes .right-subscribe {
      flex-basis: 100%;
    }
  
    .subscribe .subscribe-boxes .right-subscribe {
      padding: 2rem 0;
    }
  }
  @media (max-width:768px) {
    .subscribe .subscribe-boxes .right-subscribe h1{
      font-size: 3rem;
      color: #07484A;
      font-weight: 700;
  }
  .subscribe .subscribe-boxes .right-subscribe p{
      color: #07484A;
      font-size: 1.5rem;
  }
  .subscribe .subscribe-boxes .right-subscribe form input{
    font-size: 1.5rem;
}
  }
  @media (max-width:500px) {
    .subscribe .subscribe-boxes .right-subscribe h1{
      font-size: 2.5rem;
      color: #07484A;
      font-weight: 700;
  }
  .subscribe .subscribe-boxes .right-subscribe p{
      color: #07484A;
      font-size: 1.3rem;
  }
  .subscribe .subscribe-boxes .right-subscribe form input{
    font-size: 1.3rem;
}
  }
